
<script type="text/javascript">
  function toggleActionableSelectAll(e) {
      var check = document.getElementById("actionableSelectAll").checked;
      var inputs = document.getElementsByTagName("input");
      for (var i=0; i < inputs.length; i++) {
          var name = inputs[i].getAttribute('name');
          var type = inputs[i].getAttribute('type');
          if (type == 'checkbox' && name != null && name.indexOf("actionable/") == 0) {
              inputs[i].checked = check;
          }
      }
  }
</script>

<form id="app_action_form" method="post">
  <input name="action" type="hidden"/>
  <% if !@apps.empty? %>
      <div class="row">
        <div class="btn-toolbar">
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Maintenance Mode
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" onclick="$('#app_action_form input[name=action]').val('MaintenanceOn');  $('#app_action_form').submit();">Enable</a></li>
              <li><a href="#" onclick="$('#app_action_form input[name=action]').val('MaintenanceOff'); $('#app_action_form').submit();">Disable</a></li>
            </ul>
          </div>
          <div class="btn-group">
              <button type="submit" name="action" value="Delete" class="btn btn-danger">Delete</button>
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <table class="table table-condensed table-striped row">
          <tr>
            <th><input id="actionableSelectAll" type="checkbox" onchange="toggleActionableSelectAll();"/></th>
            <% @apps[0].each do |header| %>
                <th><%= header[0] %></th>
            <% end %>
          </tr>

          <% @apps.each do |app| %>
              <tr>
                <td><input type="checkbox" name="actionable/<%= app["Name"] %>"/></td>
                <% app.each do |prop| %>
                    <td><%= prop[1] %></td>
                <% end %>
              </tr>
          <% end %>
        </table>
      </div>
  <% end %>
</form>