<form method="post">

  <% if !@apps.empty? %>
      <div class="row">
        <button type="submit" name="action" value="maintenance_on" class="btn btn-warning">Enable Maintenance Mode</button>
        <button type="submit" name="action" value="maintenance_off" class="btn btn-success">Disable Maintenance Mode</button>
        <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
      </div>

      <div class="row">&nbsp;</div>

      <table class="table table-condensed table-striped row">
        <tr>
          <th>Action</th>
          <% @apps[0].each do |header| %>
              <th><%= header[0] %></th>
          <% end %>
        </tr>

        <% @apps.each do |app| %>
            <tr>
              <td><input type="checkbox" name="actionable/<%= app["name"] %>"/></td>
              <% app.each do |prop| %>
                  <td><%= prop[1] %></td>
              <% end %>
            </tr>
        <% end %>
      </table>
  <% end %>
</form>