<form method="post">
  <div>
    <!--<input type="submit" name="action" value="view" class="btn-info">-->
    <input type="submit" name="action" value="delete" class="btn-danger">
    <% if @message %>
        <span class="alert" style="margin-left: 10px"><%= @message %></span>
    <% end %>
  </div>

  <table class="table table-condensed table-striped">
    <tr>
      <th>Action</th>
      <% @apps[0].each do |header| %>
          <th><%= header[0] %></th>
      <% end %>
    </tr>

    <% @apps.each do |app| %>
        <tr>
          <td><input type="checkbox" name="actionable/<%= app["name"] %>"/></td>
          <% app.each do |prop| %>
              <td><%= prop[1] %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
</form>