<p>Please provide your Heroku credentials.</p>

<form method='post'>
  API Key: <input name='api_key'/>&nbsp;
  Host: <input name='heroku_host' value='<%= heroku_host  %>'/>
  <input type='submit' class="btn-success"/>
</form>